Given a list of integers, write a Python program that counts how many values in the list are greater than 100.

In [25]:
values = [80, 109, 111, 109, 94, 93, 108, 107, 81, 111, 114, 102, 81, 107, 120, 108, 92, 113, 119, 97]

num_bigger = 0

for i in values:
    if i > 100:
        num_bigger += 1
    
print(num_bigger)

13

Given a list of integers, write a Python program that counts how many even and odd values it contains.

A number is even if it is divisible by 2. It is odd otherwise.


Write a program to count how many even and odd numbers are in the values list.
Assign to a variable named num_even the number of even values.
Assign to a variable named num_odd the number of odd values.

In [4]:
values = [80, 109, 111, 109, 94, 93, 108, 107, 81, 111, 114, 102, 81, 107, 120, 108, 92, 113, 119, 97]

num_even = 0
num_odd = 0

for i in values:
    if (i % 2) == 0:
        num_even += 1
    
    if (i % 2) >= 1:
        num_odd += 1
    
print(num_even)
print(num_odd)

8
12

In [6]:
num_even = 0
for value in values:
    if value % 2 == 0:
        num_even += 1
num_odd = len(values) - num_even

print(num_even)
print(num_odd)

8
12

In [8]:
num_even = 0
num_odd = 0
for value in values:
    if value % 2 == 0:
        num_even += 1
    else:
        num_odd += 1
        
print(num_even)
print(num_odd)

8
12

In [22]:
values1 = [80, 109, 111, 109, 94, 93, 108, 107, 81, 111, 101, 114, 102, 81, 107, 120, 108, 92, 113, 119, 97]
values2 = [97, 119, 113, 92, 108, 120, 107, 81, 102, 114, 110, 111, 81, 107, 108, 93, 94, 109, 111, 109, 80]

values3 = values2[::-1]
is_reversed = True
if values1 == values3:
    is_reversed = True
else:
    is_reversed = False
    
print(is_reversed)

[80, 109, 111, 109, 94, 93, 108, 107, 81, 111, 110, 114, 102, 81, 107, 120, 108, 92, 113, 119, 97]
[80, 109, 111, 109, 94, 93, 108, 107, 81, 111, 101, 114, 102, 81, 107, 120, 108, 92, 113, 119, 97]
False

In [23]:
is_reversed = True
for i in range(len(values1)):
    if values1[i] != values2[-i - 1]:
        is_reversed = False
        
print(is_reversed)

False

In [24]:
is_reverse = True
for i in range(len(values1)):
    if values1[i] != values2[len(values1) - i - 1]:
        is_reverse = False

print(is_reversed)

False

Given two strings, create a list that contains the characters that are common to both lists. The list of common characters should not contain duplicates, but it can have any order.

For example, if the strings are:
```
s1 = 'a banana!'
s2 = 'a ananas!'
```

Then both `[' ', 'a', 'n', '!']` and `['!', 'n', ' ', 'a']` are valid answers. However, `['a', ' ', 'n', 'a', 'n', 'a', '!']` is not because it contains duplicates.

Instructions

Write a program that creates a list named common that contains the characters that are common to both s1 and s2.
The list of common characters should not contain duplicates, but it can have any order.

In [26]:
s1 = 'I have been busier these days due to having a lot on my plate.'
s2 = 'You have been very supportive towards my recent endeavors.'

common = []
for c in s1:
    if c in s2 and c not in common:
        common.append(c)
        
print(common)

[' ', 'h', 'a', 'v', 'e', 'b', 'n', 'u', 's', 'i', 'r', 't', 'd', 'y', 'o', 'm', 'p', '.']

Given a list of numbers, calculate the maximum value in that list. The goal is to avoid using the `max()` function.

Instructions

Write a program that calculates the maximum of the values list without using a built-in function.
Assign the maximum value to a variable named maximum.

In [27]:
values = [72, 48, 7, 66, 62, 32, 33, 75, 30, 85, 6, 85, 82, 88, 30, 32, 78, 39, 57, 96, 45, 57, 61, 10, 62, 48, 32, 96, 75, 15]

maximum = values[0]
for v in values:
    if v > maximum:
        maximum = v
        
print(maximum)

96

Now find the minimum

In [28]:
values = [72, 48, 7, 66, 62, 32, 33, 75, 30, 85, 6, 85, 82, 88, 30, 32, 78, 39, 57, 96, 45, 57, 61, 10, 62, 48, 32, 96, 75, 15]


minimum = values[0]
for v in values:
    if v < minimum:
        minimum = v
        
print(minimum)

6

Given a list of numbers, find a pair of distinct values whose sum is equal to 100.

Instructions

Find two distinct numbers in values whose sum is equal to 100.
Assign one of them to value1 and the other one to value2.
If there are several solutions, any one will be marked as correct.

Optional step to check your answer:

Print the value of value1 and value2.

In [29]:
values = [72, 50, 48, 50, 7, 66, 62, 32, 33, 75, 30, 85, 6, 85, 82, 88, 30, 32, 78, 39, 57, 96, 45, 57, 61, 10, 62, 48, 32, 96, 75, 15, 50, 50]

value1 = 0
value2 = 0

for x in values:
    for y in values:
        if x + y == 100 and x != y:
            value1 = x
            value2 = y
        
print(value1)
print(value2)

15
85

Given a list of numbers, find the number that appears the most.

Instructions

Find the most frequent value in values, assign the result to the variable most_frequent and print the result.

In [30]:
values = [72, 50, 48, 50, 7, 66, 62, 32, 33, 75, 30, 85, 6, 85, 82, 88, 30, 32, 78, 39, 57, 96, 45, 57, 61, 32, 10, 62, 48, 32, 96, 75, 15]

most_frequent = values[0]
for value in values:
    if values.count(value) > values.count(most_frequent):
        most_frequent = value
print(most_frequent)

32

For this practice problem, you'll be working with the data set behind this FiveThirtyEight article on common unisex (gender-neutral) names in the United States.

The data is contained the CSV file dq_unisex_names.csv. Here are the first few rows:

|name	|estimated_number|
|-------|----------------|
|Casey	|176544.328149|
Riley	|154860.66517300002
Jessie	|136381.830656
Jackie	|132928.78874000002
Avery	|121797.41951600001

The first column gives the names and the second column gives the estimated number of people with those names in the United States.

In this practice problem, you'll read the CSV file and count how many names have an estimated number greater than or equal to 100,000.

Instructions

Read the data from dq_unisex_names.csv.
Count how many names have an estimated number greater than or equal to 100,000.
Assign the result to a variable named count.

In [31]:
import csv
file = open('dq_unisex_names.csv')
reader = csv.reader(file)
rows = list(reader)

count = 0
for row in rows[1:]:
    if float(row[1]) >= 100000:
        count += 1

print(count)

6

For this practice problem, you'll be working with the data set behind this FiveThirtyEight article on common unisex (gender-neutral) names in the United States.

The data is contained the CSV file dq_unisex_names.csv. Here are the first few rows:

|name	|estimated_number|
|-------|----------------|
|Casey	|176544.328149|
Riley	|154860.66517300002
Jessie	|136381.830656
Jackie	|132928.78874000002
Avery	|121797.41951600001

The first column gives the names and the second column gives the estimated number of people with those names in the United States.

In this problem, you'll create a new list containing only the rows where the length of the corresponding name is greater than ten.

Instructions

Read the data from dq_unisex_names.csv.
Create a list named longest_names containing all names with length greater than ten.
Optional steps to test your answer:

Print the first five names in longest_names.

In [32]:
import csv
file = open('dq_unisex_names.csv')
reader = csv.reader(file)
rows = list(reader)

longest_names = []
for row in rows[1:]:
    if len(row[0]) > 10:
        longest_names.append(row[0])

for i in range(5):
    print(longest_names[i])

Oluwadamilola
Oluwanifemi
Oluwademilade
Oluwatomisin
Oluwadarasimi

For this practice problem, you'll be working with the data set behind this FiveThirtyEight article on common unisex (gender-neutral) names in the United States.

The data is contained the CSV file dq_unisex_names.csv. Here are the first few rows:

|name	|estimated_number|
|-------|----------------|
|Casey	|176544.328149|
Riley	|154860.66517300002
Jessie	|136381.830656
Jackie	|132928.78874000002
Avery	|121797.41951600001

The first column gives the names and the second column gives the estimated number of people with those names in the United States.

In this practice problem, you'll need to find the most common unisex named. This means finding the name for which the estimated_number is the largest.

Instructions

Read the data from dq_unisex_names.csv.
Find out what is the name with the largest estimated number and print it.

In [33]:
import csv
file = open('dq_unisex_names.csv')
reader = csv.reader(file)
rows = list(reader)

maximum = None
max_name = None
for row in rows[1:]:
    if maximum == None or float(row[1]) > maximum:
        maximum = float(row[1])
        max_name = row[0]

print(max_name)

Casey

For this practice problem, you'll be working with the data set behind this FiveThirtyEight article on common unisex (gender-neutral) names in the United States.

The data is contained the CSV file dq_unisex_names.csv. Here are the first few rows:

|name	|estimated_number|
|-------|----------------|
|Casey	|176544.328149|
Riley	|154860.66517300002
Jessie	|136381.830656
Jackie	|132928.78874000002
Avery	|121797.41951600001

The first column gives the names and the seconds the estimated number of people with those names is the United States.

Let's calculate all names that have an estimated number of at most 1,000 people (inclusive).

Instructions

Read the data from dq_unisex_names.csv.
Create a list rare_names and add to it all names whose estimated number is at most 1,000.
Optional steps to test your answer:

Print the first five names in rare_names.

In [34]:
import csv
file = open('dq_unisex_names.csv')
reader = csv.reader(file)
rows = list(reader)

rare_names = []
for row in rows[1:]:
    if float(row[1]) <= 1000:
        rare_names.append(row[0])

# Testing the solution
for i in range(5):
    print(rare_names[i])

Eliyah
Tonnie
Teagen
Rudi
Kamani